<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string></string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string> &lt;string&gt;ElanITCStd-Medium.otf&lt;/string&gt;</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string></string>
	</array>
</dict>
</plist>
